<div class="md:w-2/3 mx-auto w-full">
  <h1 class="text-4xl font-bold">Edit Expense</h1>

  <%= render "form", expense: @expense %>
  <%= link_to "Back to expenses", group_expenses_path, class: "ml-2 rounded-lg inline-block font-medium py-3 px-5 bg-gray-100" %>
</div>